/* .btn{
    background-color: crimson;
    color: white;
    width: 100px;
    height: 40px;
    
}

li{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}

.list{
    width: 300px;

} */

.card{
    background-color: greenyellow;
    width: 150px;
    position: relative;
}
.deleteCard{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}